html *
{
   font-size: 1em;
   color: #000;
   
}
body{
    background-color: rgba(139, 130, 130, 0.526);
}

.content{
    max-width: 300px;
    margin: auto;
}

.myClass{
    padding: 20px;
}

input{
    padding: 5px;
}